@model Token

@{
    Layout = "_Layout";
}

<div class="text-center">
    <div style="overflow-x:auto;">

        <table style="text-align: center; content: box ">

            <tr id="firstColumn">
                <th>Convert from</th>
                <th>Convert to</th>
                <th>Exchange rate</th>
                <th>Bind price</th>
                <th>Ask price</th>
                <th>Last refreshed</th>
            </tr>

            @foreach (var i in Model.MetaDatas)
            {
                <tr>
                    @Html.Partial("ExchangeBox", i)
                </tr>
            }

        </table>


    </div>
</div>