@model Token

@{
    Layout = "_Layout";
}

<div>
    <div id="ExchangeTable">
        <table style="width: 75%">
            <tr>
                <th>Convert from</th>
                <th>Convert to</th>
                <th>Exchange rate</th>
                <th>Bind price</th>
                <th>Ask price</th>
                <th>Last refreshed</th>
            </tr>

            @foreach (var i in Model.MetaDatas)
            {
                <tr>
                    @Html.Partial("ExchangeBox", i)
                    <td>@Html.RouteLink("Info", new { controller = "Chart", action = "Index", code = i.To })</td>
                </tr>
            }

        </table>
    </div>
</div>