<main>
  <div class="container text-center" style="overflow-x: auto;">
    <table style="text-align: center; content: box;">
      <tr class="mainColumns">
        <th>From Currency</th>
        <th>To Currency</th>
        <th>Ask Price</th>
        <th>Bid Price</th>
        <th>Refreshed</th>
      </tr>
      <tr class="mainColumns" *ngFor="let currency of currency">
        <a routerLink="chart/{{currency.id}}">
          <div>
            <td>{{currency.fromCurrencyCode}}</td>
            <td>{{currency.toCurrencyCode}}</td>
            <td>{{currency.askPrice}}</td>
            <td>{{currency.bidPrice}}</td>
            <td>{{currency.lastRefreshed}}</td>
          </div>
        </a>
      </tr>
    </table>
  </div>
</main>
