<main>
  <div style="overflow-x: auto;">
    <mat-tab-group (selectedTabChange)="tabChangeEvent()">
      <mat-tab *ngFor="let currency of currency">
        <ng-template mat-tab-label="currency.toCurrencyCode">
          <h4>{{currency.fromCurrencyCode}}</h4>
          <h4 style="margin-left: 10px;">{{currency.toCurrencyCode}}</h4>
        </ng-template>
        <ng-template matTabContent>
          <h4>{{currency.fromCurrencyCode}}</h4>
          <h4>{{currency.toCurrencyCode}}</h4>
          <h4>{{currency.bidPrice}}</h4>
          <h4>{{currency.askPrice}}</h4>
          <h4>{{currency.lastRefreshed}}</h4>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
